body {
    margin: 0;
    height: 100vh;
    font: 10px sans-serif;
    background-color: #f2f0ef;
}

.header-panel {
    display: flex;
    justify-content: space-between;
    height: 48px;
    width: calc(100% - 30px);
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 101;
    font-size: 18px;
    color: #5f6368;
}

.header-panel__info {
    display: flex;
    justify-content: center;
    padding: 6px 24px;
    border-radius: 30px;
    background-color: #ffff;
    opacity: 0.9;
    margin-right: 12px;
}

.header-panel__info p {
    align-self: center;
}

.header-panel__search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-right: 12px;
    margin-left: 12px;
    padding: 6px 6px;
    border-radius: 30px;
    background-color: #fff;
    opacity: 0.9;
    position: relative;
}

.input_search {
    width: 100%;
    height: 42px;
    border-radius: 30px;
    padding: 0 48px 0 24px;
    background-color: #fff;
    border: none;
    outline: 0;
    font-size: 18px;
    color: #5f6368;
}

.header-panel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #f2f0ef;
    opacity: 0.9;
    position: absolute;
    right: 3px;
}

.header-panel-button:hover {
    background-color: #e0e0e0;
}

.header-panel-button:active {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}

.header-panel-button img {
    height: 30px;
}

.header-panel__user {
    margin-right: 60px;
    margin-left: 12px;
    padding: 6px 24px;
    border-radius: 30px;
    background-color: #fff;
    opacity: 0.9;

}

.zoom-panel {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 106px;
    height: 48px;
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 101;
}

.zoom-panel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.9;
    cursor: pointer;
}
.zoom-panel-button:hover {
    opacity: 1;
    transform: scale(1.1);
}

.button_reset {
    height: 32px;
}
.button_tofit {
    height: 32px;
}

svg {
    width: 100%;
    height: 100vh;
    border-style: none;
    border-width: 0;
}

.linage {
    fill: none;
    stroke: #000;
}

.marriage {
    fill: none;
    stroke: black;
}

.man {
    background-color: lightblue;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

.woman {
    background-color: pink;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

.unknown {
    height: 62px;
    background-color: #ccc;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

.emphasis{
        font-style: italic;
}

p {
    padding:0;
    margin:0;
}

.loading {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.error, .empty {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup_content {
    display: none;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    position: relative;
    font-family: "Open Sans";
    font-size: 16px;
    animation-duration: 0.35s;
    animation-fill-mode: none;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0.25;
        transform: translateY(15%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.popup_close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 30px;
    color: #888;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 50%;
    opacity: 0.9;
}


.popup_close:hover  {
    transform: scale(1.1);
}

.graph-spouse_close:hover {
    transform: scale(1.1);
    opacity: 1;
}

.graph-spouse_close {
    display: none;
    font-size: 30px;
    color: #888;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ffff;
    border-radius: 50%;
    opacity: 0.9;
    position: absolute;
    top: 120px;
    right: 60px;
    z-index: 102;
    cursor: pointer;
}

.person-photo {
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 0 auto 0;
    border-radius: 8px;
}
.person-info {
    margin-bottom: 12px;
}

#person-info-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

#person-name {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
    font-weight: bold;
}

.gender-tag {
    display: inline-block;
    margin-left: 16px;
    padding: 6px 10px;
    background-color: #e0e0e0;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
}

.person-info__content {
    border-radius: 8px;
    margin-top: 8px;
    min-height: 120px;
    max-height: 240px;
    padding: 8px;
    overflow: auto;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(34, 60, 80, 0.5) inset;
    -moz-box-shadow: 1px 1px 5px 1px rgba(34, 60, 80, 0.5) inset;
    box-shadow: 1px 1px 5px 1px rgba(34, 60, 80, 0.5) inset;
}